h1{
    color: #846372;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
}

body{
    background-color: #000;
    display: flex;
    justify-content: center;
}

#board td {
    /*should be CIRCULOSSSSS*/
    width: 50px;
    height: 50px;
    border: solid 1px #638475;
}

.game-piece{
    margin: 5px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
/*make diff colored pieces for diff players
p1: #F1D302
p2: #CE4760*/
.game-piece.player-1{
    background-color: #F1D302;
}
.game-piece.player-2{
    background-color: #CE4760;
}

/*clickables*/
#column-top td{
    border: dashed 1px #42584e
}

#column-top td:hover{
    background-color: #638475;
}